# Watermarking Evaluation Configuration
base_config:
  dir1: "path/to/watermarked_images" # Watermarked images
  dir2: "path/to/ground_truth" # Ground truth images if needed (i.e. for fid)
  output_file: "path/to/output_file.json" # Output file for the evaluation results

# Comment out the evaluation modes that you don't want to run
evaluation_modes:
  # Image Quality Tests
  - image_quality:
    - "fid"
    - "clip"
    - "IS" # Inception Score

  # Detectability Tests  
  - detectability:
    - "binary_classifier"

  - perceptual_variability:
    - "lpips"

  # Robustness Tests
  - robustness:
    - "cropping"
    - "rescaling"
